*{
    margin: 0px;
    padding: 0px;
}

/* MENÚ */
    header{
        position: absolute;
        width: 98%;
        padding: 1%;
        background-color: rgb(29, 28, 28);
        position: fixed;
        top: 0;
        width: 100%;
        transition: top 0.3s;
        z-index: 2;
    }
        .menu_grande{
            display: flex;
            width: 100%;
        }
            .menu_grande > ul{
                display: flex;
                justify-content: left;
                width: 46%;
            }
                .menu_grande li{
                    margin-right: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    list-style: none;
                    font-size: 20px;
                }
                    .menu_grande .li2{
                        font-weight: bold;
                        border-radius: 10px;
                        background-color: rgb(18, 17, 17);
                        padding: 10px;
                    }
                    .menu_grande a{
                        color: white;
                        text-decoration: none;
                        width: 100%;
                    }
            .logo{
                width: 6%;
                display: flex;
                justify-content: center;
            }
                .logo a{
                    width: 50%;
                }
                    header img{
                        width: 100%;
                        transition: opacity 0.3s ease;
                    }
                        .logo img:last-child{
                            display: none; 
                        }
                        .logo a:hover img:first-child{
                            display: none;
                        } 
                        .logo a:hover img:last-child{
                            display: block;
                        }   
                        .logo a:hover{
                            cursor: pointer;
                        }
        
        .menu_pequeño {
            display: none;
            width: 50px;
            height: 50px;
            margin-right: 3%;
            background-image: url('../img/logos/logoLetra.png');
            border-radius: 5px;
            background-color: rgba(29, 28, 28, 0.171);
            background-size: cover;
            cursor: pointer;
        }
            .menu_pequeño > .contenido {
                display: none;
                background-color: #403f3f;
                width: 180px;
                position: absolute;
                height: 100vh;
                margin-top: -2%;
                margin-left: -130px;
                padding: 1%;
                animation: deplazarDerecha 1s;
            }
            
                @keyframes deplazarDerecha {
                    0% {
                        transform: translateX(100%);
                    }
                    
                }
                .menu_pequeño img{
                    margin-top: 20px;
                }
                .menu_pequeño li {
                    list-style: none;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    margin-top: 20px;
                    font-weight: bold;
                    border-radius: 10px;
                }
                    .menu_pequeño li:hover {
                        background-color: #4d4d4d;
                        cursor: pointer;
                    }
                    .menu_pequeño .li2{
                        background-color: #121212;
                    }
                        .menu_pequeño li a{
                            text-decoration: none;
                            color: white;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        

/* INDEX */
    .container-index{
        height: 100%;
        width: 100%;
        position: relative;
    }
        .inicio > .container-info{
            width: 100%;
            position: absolute;
            color: white;
            height: 30%;
            display: flex;
            margin-top: 35%;
            justify-content: center;
            align-items: center;
            bottom: 0;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.359);
            box-sizing: border-box;
            text-align: center;
        }
            .container-info .titulo, .container-info .texto{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .container-info .texto{
                margin-bottom: 20px;
                margin-top: 20px;
            }
                .container-info .titulo{
                    font-size: 40px;
                    font-weight: bold;
                }
                .container-info .texto{
                    font-size: 20px;
                }
            .container-info  .container-boton{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
            }
                .container-info a{
                    color: white;
                    text-decoration: none;
                }
                .container-info .saberMas{
                    margin-left: 15px;
                    border-radius: 50px;
                    background-color: transparent;
                    border: 2.5px solid white;
                    transition: border-color 0.3s;
                    transition-timing-function: steps(4);
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                }
                    .container-info .saberMas:hover, .container-info a:hover ~ .saberMas{
                        border-color: red;
                    }
                    .saberMas > img{
                        width: 60%;
                    }

        .imagen-inicio{
            height: 100%;
            position: relative;
            z-index: -1;
        }
            .imagen-inicio > img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        
    
        .container-video {
            position: relative;
            width: 100%;
            height: 110%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
            .container-video > video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        
            .container-video > .container-texto {
                position: relative;
                height: 100%;
                color: white;
            }
                .container-video .titulo, .container-video .texto, .container-video .boton{
                    display: flex;
                    justify-content: center;
                }
                    .container-video .titulo{
                        height: 13%;
                        margin-bottom: 2%;
                        align-items: flex-end;
                        font-size: 35px;
                    }
                    .container-video .texto{
                        height: 50%;
                        font-size: 20px;
                    }
                    .container-video .boton{
                        height: 45%;
                        align-items: center;
                        font-size: 27px;
                    }
                        .boton>a{
                            color: white;
                            text-decoration: none;
                            border: 2px solid white;
                            padding: 2% 10%;
                            border-radius: 5px;
                            position: relative;
                            z-index: 1;
                        }
                            .boton>a::after {
                                content: "";
                                position: absolute;
                                z-index: -1;
                                left: 0;
                                right: 0;
                                top: 0;
                                bottom: 0;
                                background: #00346d;
                                transform: scale(0, 0);
                                transition: all 0.3s ease;
                            }
                            .boton>a:hover::after {
                                transition: all 0.3s ease-out;
                                transform: scale(1, 1);
                            }
        .modelos{
            width: 100%;
        }
            .modelosYyS, .modelos3yX{
                display: flex;
            }
                .modeloY, .modeloS, .modelo3, .modeloX{
                    width: 100%;
                    overflow: hidden;
                    border: 0.5px solid black;
                    box-sizing: border-box;
                    position: relative;
                    display: inline-block;
                    text-align: center;
                }
                    .modelos img{
                        width: 100%;
                        transition: transform 5s ease;
                    }
                        .texto-modelos:hover~ img{
                            transform: scale(1.2); 
                        }
                    .texto-modelos {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        font-size: 30px;
                        text-decoration: none;
                    }            
                        .texto-modelos .container-texto{
                            width: 100%;
                            height: 30%;
                            color: white;
                            background-color: rgba(0, 0, 0, 0.359);
                        }
                            .texto-modelos .texto{
                                height: 40%;
                                display: flex;
                                align-items: flex-end;
                                justify-content: center;
                                font-weight: bold;
                            }
                            .texto-modelos .container-boton{
                                height: 60%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 20px;
                            }
                            .texto-modelos .titulo{
                                padding: 10px;
                            }
                                .texto-modelos .saberMas{
                                    width: 35px;
                                    height: 35px;
                                    border-radius: 50px;
                                    background-color: transparent;
                                    border: 2px solid white;
                                    transition: border-color 0.3s;
                                    transition-timing-function: steps(4);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                    .texto-modelos img{
                                        width: 60%;
                                    }
                                    
                                    .titulo:hover + .saberMas , .saberMas:hover  {
                                        border-color: red;
                                    }


*{  1border: 1px solid red;}

/* MODELO S */
.container-modeloS{
    border-top: 1px solid white;
    display: flex;
}
    .container{
        width: 60%;
        height: 100%;
    }
        .fixed{
            position: fixed;
        }
        .logoLetras{
            padding: 2%;
            height: 50px;
            display: flex;
            align-items: center;
        }
            .logoLetras > img{
                height: 25px;
            }
            .container-carrusel{
                width: 800px;
                margin: 0 auto;
                margin-top: 5%;
            }
                .carrusel {
                    display: flex;
                    width: 100%;
                    height: 388px;
                }
                    #imagen {
                        width: 100%;
                        background-size: cover;
                    }
                    .botonCarrusel{
                        width: 55px;
                        height: 50px;
                        margin-top: auto;
                        margin-bottom: auto;
                        margin-right: 10px;
                        margin-left: 10px;
                        font-size: 20px;
                        border-radius: 30px;
                        cursor: pointer;
                        border-color: white;
                    }
                        .botonCarrusel:hover{
                            border-color: rgb(171, 167, 167);
                            background-color: rgb(171, 167, 167);
                            color: rgb(221, 220, 220);
                        }
                .colores-carrusel, .borde-colores{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                    .borde-colores{
                        border: 1px solid black;
                        border-radius: 20px;
                        padding: 10px;
                    }
                    .colores-carrusel .container-azul, .colores-carrusel .container-rojo, .colores-carrusel .container-negro, .colores-carrusel .container-blanco{
                        width: 50px;
                        height: 50px;
                        border: 1px solid black;
                        margin: 30px;
                        border-radius: 50px;
                        box-shadow: 2px 2px rgba(0,0,0,0.5);
                    }
                        .container-azul, .container-rojo, .container-negro, .container-blanco{
                            width: 40px;
                            height: 40px;
                        }
                            input[type="radio"]{
                                display: none;
                            }
                            .container-azul > .circulo, .container-rojo > .circulo, .container-negro > .circulo, .container-blanco > .circulo{
                                width: 100%;
                                height: 100%;
                                justify-content: center;
                                align-items: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid #000000;
                                border-radius: 25px;
                                cursor: pointer;
                            } 
                                .container-rojo > .circulo{
                                    background-color: #b90000;
                                }
                                .container-negro > .circulo{
                                    background-color: #111111;
                                }
                                .container-blanco > .circulo{
                                    background-color: #d4dad8;
                                }
                                .container-azul > .circulo{
                                    background-color: #002374;
                                }
                                    .circulo:hover{
                                        box-shadow: 0 0.5em 0.5em -0.4em;
                                        transform: translateY(-0.25em);
                                        transform: translateY(-0.25em);
                                    }
                                    .colores-carrusel input[type="radio"]:checked + .circulo{
                                        border: 2px solid #032e49;
                                        box-shadow: 0 12px 16px 0 #000000, 0 17px 50px 0 #000000;
                                    }
    .container2{
        width: 40%;
        margin-top: 6%;
    }
    .container-modeloS .container-texto{
        width: 60%;
        padding: 2%;
        border: 2px solid black;
        border-radius: 20px;
        margin: 0 auto;
    }
        .container-modeloS .container-texto > .titulo{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 40px;
            margin-bottom: 25px;
            font-weight: bold;
        }
        .container-modeloS .info{
            display: flex;
            justify-content: center;
        }
            .info .columna{
                margin-left: 5px;
                margin-right: 5px;
                width: 30%;
                height: 100%;
            }
            .container-modeloS .info .subtitulo{
                font-size: 23px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2px;
                font-weight: bold;
            }
            .container-modeloS .info .parrafo{
                text-align: center;
            }
        .caracteristicas_clave{
            margin-top: 80px;
        }
            .caracteristicas_clave .subtitulo{
                font-weight: bold;
                font-size: 30px;
                text-align: center;
                margin-bottom: 20px;
            }
            .caracteristicas_clave ul{
                padding-left: 20px;
                font-size: 17px;
            }
                .caracteristicas_clave li{
                    margin-top: 12px;
                }
        .conduccion{
            margin-top: 80px;
        }
            .conduccion .subtitulo{
                font-weight: bold;
                font-size: 30px;
                text-align: center;
                margin-bottom: 20px;
            }
            .conduccion ul{
                padding-left: 20px;
                font-size: 17px;
            }
                .conduccion li{
                    margin-top: 12px;
                }
        .caracteristicas{
            margin-top: 80px;
        }
            .caracteristicas .subtitulo{
                font-weight: bold;
                font-size: 30px;
                text-align: center;
                margin-bottom: 20px;
            }
            .caracteristicas .parrafo{
                padding-left: 20px;
                font-size: 17px;
            }
        .garantia{
            margin-top: 80px;
        }
            .garantia .subtitulo{
                font-weight: bold;
                font-size: 30px;
                text-align: center;
                margin-bottom: 20px;
            }
            .garantia .parrafo{
                font-size: 17px;
                text-align: center;
                margin-bottom: 20px;
            }
                .garantia .negrita{
                    margin-top: 20px;
                    font-weight: bold;
                    font-size: 19px;
                }


                
