@media (max-width: 1200px) {
    header{
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        justify-content: right;
    }
    .menu_grande{
        display: none;
    }
    .menu_pequeño{
        display: block;
        width: 50px;
        height: 50px;
    }

    .container-info .titulo{
        margin-bottom: 20px;       
    }
    .container-info .texto{
        display: none;
    }

    .botonCarrusel{
        position: absolute;
        margin-top: 50%;
        margin-bottom: 50%;
    }
        #siguiente{
            margin-left: 90%;
            margin-right: 10%;
        }
        .carrusel{
            width: 100%;
        }

    .fondo{
        width: 100%;
    }

    .modelosYyS, .modelos3yX{
        display: block;
    }
    .container{
        display: block;
        position: relative;
        width: 100%;
        height: auto;
    }
    .container2{
        margin-top: 10%;
        margin-left: 0;
        width: 100%;
    }
        .container-modeloS .container-texto, .container-modelo3 .container-texto, .container-modeloY .container-texto, .container-modeloX .container-texto{
            width: 70%;
        }
}

@media (max-width: 620px) {
    .container-index .titulo{
        font-size: 200%;
    }        
}