@media (max-width: 1200px) {
    .menu_grande{
        display: none;
    }
    .menu_pequeno{
        display: flex;
    }
    
    
    .container{
        display: block;
    }
    .fondo{
        width: 100%;
    }

    .modelosYyS, .modelos3yX{
        display: block;
    }
}